* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 50%;
    margin: 2rem auto 0;
    text-align: center;
    margin-bottom: 4rem;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.5rem;
}

main {
    width: 75%;
    margin: 0 auto;
}

.text-confront {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.text-confront>div {
    flex: 1 0 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

form {
    display: block;
}

form>div {
    margin-bottom: 1rem;
}

label {
    font-size: 1.25rem;
    font-weight: 700;
    display: block;
    margin-bottom: .25rem;
}

input,
textarea {
    width: 100%;
    padding: .25rem;
}

button {
    padding: .25rem .5rem;
}

.text-infos {
    font-weight: 700;
}